// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// TNest colours:
$tn-indigo: rgb(52, 15, 112);
$tn-purple: rgb(163, 29, 134);
$tn-peach: rgb(250, 177, 125);
$tn-yellow: rgb(250, 223, 125);
