
.mentor-info-btn-container {
  margin-top: auto;
}

li {
  color: $tn-indigo;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.1em;
}


.hands {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -15px;
}


.hands-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;

  .two-color-sentence {
    color: $tn-indigo;
    font-size: 42px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 0.15em;
    margin-bottom: -10px;
    margin-left: -10px;

    .nest-purple {
      color: $tn-purple;
      font-size: 42px;
      font-family: "Montserrat";
      font-optical-sizing: auto;
      font-weight: 300;
      letter-spacing: 0.15em;
      margin-bottom: 0px;
      margin-left: 2px;
    }
  }
}


.mentor-show-box-all {
  margin-left: 40vw;
  margin-top: 5vh;
}


.columns-cotainer {
  display: flex;
  margin-bottom: 20px;

    .mentor-info-btn-hp {
    margin-left: 80px;
    margin-right: 110px;
    display: inline-block;
    color: $tn-purple;
    background-color: rgba(255, 255, 255, 0.698);
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 12px 30px;
    margin-top: 9px;
    margin-bottom: 28px;
    border-radius: 13px;
    border-width: 0;
    border-color: rgba(221, 221, 221, 0.693);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease, font-weight 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
  }

  .mentor-info-btn-hp:hover {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 200;
    text-shadow: 1px 1px 4px rgba(206, 153, 250, 0.55);
    border-width: 0;
    border-color: $tn-purple;
    border-radius: 20px;
  }


}
