  <div class="slider-group-index">
    <% @groups.each do |group| %>
      <div class="card">
        <div class="card-body">
          <div>
            <h6 class="card-title">
              <%= group.name %>
            </h6>
            <h6 class="card-text">
              <%= group.post_code %>
            </h6>
            <%= button_to "Join this group", join_group_path(group), class: "card-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
