  <div class="slider-group-index">
    <% @relevant_groups.each do |group| %>
      <div class="card">
        <div class="card-body">
          <div>
            <h6 class="card-title">
              <%= group.name %>
            </h6>
            <h6 class="card-text">
              <%= group.post_code %>
            </h6>
            <% if current_user.groups.include? group %>
              <p>You're already a part of this group</p>
            <% else %>
              <%= button_to "Join this group", join_group_path(group), class: "card-link" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
