<div class="flex-hp">
  <div id="tree-hp">
    <%= image_tag asset_path("tree.svg") %>
  </div>
  <div id="birds-logo-hp">
    <%= image_tag asset_path("birds.svg") %>
    <div id="logo-tagline">
      <h1>together<span class="nest">nest</span></h1>
      <p>Guiding and supporting new parents through thoughtfully<br>curated online communities and mentorships</p>
      <h2><%= link_to "Log in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %></h2>
    </div>
  </div>
</div>
<div class="footer-hp">
  <p>Made with love, confusion, stress, hash rockets, tears and much laughter by the good people at togethernest - Halima, Matt, Tara & Yumi.</p>
</div>
<div class="sky">
</div>
