<div class="flex-hp">
  <div id="tree-hp">
    <%= image_tag asset_path("tree.svg") %>
  </div>
  <div id="birds-logo-hp">
    <%= image_tag asset_path("birds.svg") %>
    <div>
      <h1>together<span class="nest">nest</span></h1>
      <h2> <a href="#">login</a>  | <a href="#">sign up</a></h2>
    </div>
  </div>
</div>
<div class="footer-hp">
  <p>Made with love, confusion, stress, hash rockets, tears and much laughter by the good people at togethernest - Halima, Matt, Tara & Yumi.</p>
</div>
<div class="sky">
</div>
