
<div class="mentor-msg-box-all">
  <div class="half-page">
    <h2 class="two-color-sentence">mentor<span class="nest-purple">program</span></h2>
    <p>You’ve signed up to be a mentor, but there are currently no outstanding mentor requests.</p>
    <p class="extra-margin-p">Please check back later.</p>
    <div class="large-link-purple">
      <%= link_to "Return to dashboard", :back %>
    </div>
  </div>
</div>

<div class="tree-bg-mentor-info">
</div>
