<div class="form-flexbox-rhs">
  <div class="half-page">
    <h2 class="two-color-sentence">mentor<span class="nest-purple">program</span></h2>
    <div style="display: flex; align-items: center;">
      <div class="mentor-info-container">
        <%= image_tag asset_path("parent1.jpg"), class: "mentor-info-avatar-lg" %>
      </div>
      <h1 id="plus">+</h1>
      <div class="mentor-info-container">
        <%= cl_image_tag current_user.photo.key, class: "mentor-info-avatar-lg" %>
      </div>
    </div>
    <p>Having a mentor can greatly benefit you in becoming a good and confident parent.</p>
    <p>
      A mentor provides a trusted source of guidance, support, and wisdom, offering valuable insights based on their own experiences and knowledge.
    </p>
    <p>
      They can help you navigate the challenges of parenthood, offering advice on various aspects such as child development, communication skills, and self-care. A mentor can also serve as a role model, inspiring you to develop positive parenting practices and cultivate a nurturing environment for your children.
    </p>
    <p>
      Through their encouragement and feedback, a mentor empowers you to build confidence in your parenting abilities. Ultimately, having a mentor by your side can enhance your parenting journey, equipping you with the tools and encouragement needed to thrive as a parent.
    </p>
    <p>Continue below to join the mentorship program as a mentee.</p>
    <div class="mentor-info-btn-container">
      <%= link_to "Find a mentor", find_mentorship_path, class: "mentor-info-btn-hp"%>
    </div>
    <p>Are you interested in becoming a Mentor yourself?</p>
    <p>Guiding a new parent to become more confident in their parenting skills can be greatly rewarding.</p>
    <p>
      After having benefited from community and parenting support at Togethernest yourself, why not give back to the community and help someone else navigate the challenges of parenthood? You'll help us offer accessible support to parents in similar circumstances as you; support from parents for parents.
    </p>
    <p>We ask that you have at least two years experience as a parent to join Togethernest as a mentor.</p>
    <p>Continue below to join the mentorship program as a mentor.</p>
    <div class="mentor-info-btn-container">
      <%= button_to "Be a mentor", join_mentorship_path, class: "mentor-info-btn-hp" %>
     </div>
  </div>
</div>

<div class="tree-bg-mentor-info">
</div>
