.group-rec-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 244, 215, 0.55);
  width: 300px;
  height: 400px;
  border-radius: 25px;
  padding: 25px;
  margin: 20px 25px 30px 0;

  h2, h6, p {
    color: $tn-purple;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    letter-spacing: 0.1em;
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
  }

  h6 {
    font-weight: 200;
    text-align: center;
    color: $tn-indigo;
  }

  p {
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
  }

  .card-link {
    color: $tn-purple;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 12px 30px;
    margin-top: 9px;
    margin-bottom: 10px;
    border-radius: 14px;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease, font-weight 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
  }

  .card-link:hover {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-shadow: 1px 1px 4px rgba(206, 153, 250, 0.55);
    border: 2px solid $tn-purple;
    border-radius: 20px;
  }
}
