.mentors-x3-container {
  width: 700px;
  margin-bottom: 5vh;
  transform: scale(0.80);

  p {
    color: $tn-indigo;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  a {
    text-decoration: none;
    color: $tn-purple;
    font-weight: 500;
  }

}

.mentor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 244, 215, 0.55);
  width: 210px;
  border-radius: 25px;
  padding: 25px 25px;
  margin-bottom: 40px;
  margin-top: 30px;

  h2 {
    color: $tn-purple;
    font-size: 35px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    color: $tn-indigo;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  a {
    color: $tn-purple;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 12px 30px;
    margin-top: 9px;
    margin-bottom: 10px;
    border-radius: 13px;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 0.693);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease, font-weight 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-shadow: 1px 1px 4px rgba(206, 153, 250, 0.55);
    border-width: 1px;
    border-color: $tn-purple;
    border-radius: 20px;
  }

  button {
    color: $tn-purple;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 12px 30px;
    margin-top: 9px;
    margin-bottom: 10px;
    border-radius: 13px;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 0.693);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease, font-weight 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-shadow: 1px 1px 4px rgba(206, 153, 250, 0.55);
    border-width: 1px;
    border-color: $tn-purple;
    border-radius: 20px;
  }

}
