.navbar-lewagon {
  margin-right: 1.5vh;
  margin-top: 1.5vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.tn-nav-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 7px white;
}
