.navbar-lewagon {
  justify-content: space-between;
  margin-left: 5.4vw;
  margin-right: 5.4vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.655);
}
