.tree-bg-signup {
  background-image: url('tree-signup');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top center;
  position: fixed;
  top: 0;
  z-index: -2;
}

.tree-bg-user-edit {
  background-image: url('tree-user-edit.svg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-group-rec {
  background-image: url('tree-group-rec.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-group-rec-accept {
  background-image: url('tree-group-rec-accept.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-dashboard {
  background-image: url('tree-dashboard.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-mentor-info {
  background-image: url('tree-mentor-info.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-mentor-form {
  background-image: url('tree-mentor-q.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-mentor-rec {
  background-image: url('tree-mentor-select.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -4;
}

.tree-bg-mentor-dashboard {
  background-image: url('tree-mentor-dashboard.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -4;
}
