.white-form-rounded {
  background-color: rgba(250, 244, 215, 0.55);
  width: 600px;
  border-radius: 25px;
  padding: 30px 50px;
  margin-bottom: 10vh;
  transform: scale(0.75);

  p {
    color: $tn-indigo;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  a {
    text-decoration: none;
    color: $tn-purple;
    font-weight: 500;
  }

  .btn {
    color: $tn-purple;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 12px 30px;
    margin-top: 9px;
    margin-bottom: 28px;
    border-radius: 13px;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 0.693);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease, padding 0.5s ease, font-weight 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-shadow: 1px 1px 4px rgba(206, 153, 250, 0.55);
    border-width: 1px;
    border-color: $tn-purple;
    border-radius: 20px;
  }
}


.form-flexbox-lhs {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15vw;
}


.form-flexbox-rhs {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 15vw;
}


.form-label {
  color: $tn-purple;
  font-family: "Montserrat";
  font-size: smaller;
  margin: 2px;
}


.form-text {
  color: $tn-purple;
  font-size: small;
}


.form-control {
  color: $tn-purple;
  font-family: "Montserrat";
  letter-spacing: 0.2em;
  font-weight: 200;
  border-radius: 10px;
}


#user_photo {
  color: $tn-purple;
  font-family: "Montserrat";
  letter-spacing: 0.1em;
  font-weight: 200;
  font-size: small;
  height: 45px;
}

.form-check-label {
  color: $tn-purple;
}
